<template>
  <div
    :class="classes"
  >
    <div
      class="title"
    >
      <a :href="articleLink">{{ title }}</a>
      <span
        v-if="isNew"
        class="marker"
      > N</span>
      <span
        v-if="minor"
        class="marker"
      > m</span>
    </div>
    <div class="user">
      {{ user }} <span v-if="bot"> 🤖</span>
    </div>
  </div>
</template>

<script>
export default {

	name: 'ChangeCard',

	props: [
		'articleLink',
		'title',
		'user',
		'eventType',
		'bot',
		'isNew',
		'minor'
	],

	data() {
		return {
		};
	},

	computed: {
		classes() {
			let classes = [
				'card',
				'shadow-box'
			];

			if ( this.eventType === 'new' ) {
				classes.push( 'new ' );
			}

			return classes.join( ' ' );
		}
	}
};
</script>

<style lang="css" scoped>

.card {
	border: 1px solid grey;
	padding: 10px;
	margin: 8px auto;
	width:  45em;
	max-width: 100%;
}

.new {
 border-left: 5px solid red;
}

.title {
	font-weight: bold;
}

.marker {
	font-weight: bold;
}

a {
	text-decoration: none;
	color:  #000080;
}
</style>
