<template>
  <div
    id="settings-panel"
    class="shadow-box"
  >
    <h3>Settings</h3>
    <input
      v-model="opts.wikidata_events"
      type="checkbox"
      @input="toggleWd"
    >
    Wikidata events
    </input>
    <input
      v-model="opts.log_events"
      type="checkbox"
      @input="toggleLogging"
    >
    Log events to console
    </input>
    <div
      v-if="opts.wikidata_events"
    />
  </div>
</template>

<script>
// import wvui from '@wikimedia/wvui';
import '@wikimedia/wvui/dist/wvui.css';

export default {

	name: 'SettingsPanel',

	components: {
		// WvuiCheckbox: wvui.WvuiCheckbox
	},

	data() {
		return {
			opts: {
			}
		};
	},
	methods: {
		toggleWd( evt ) {
			this.$store.commit( 'settings/setShowWd', evt.target.checked );
		},
		toggleLogging( evt ) {
			this.$store.commit( 'settings/setLogging', evt.target.checked );
		}
	}
};
</script>

<style lang="css" scoped>

#settings-panel {
	text-align: left;
	border:  1px solid grey;
	margin:  auto;
	width:  45em;
	max-width: 100%;
	padding: 5px;
}
</style>
