<template>
  <div id="stats">
    {{ total }}
  </div>
</template>

<script>

import { mapState } from 'vuex';

export default {

	name: 'StatsPanel',

	data() {
		return {
		};
	},
	computed: {
		...mapState( {
			total: state => state.stats.total
		} )
	}
};
</script>

<style lang="css" scoped>

#stats {
	position: fixed;
	right:  10px;
	bottom:  10px;
}
</style>
