<template>
  <div class="hello">
    <img
      ref="logo"
      :class="logoClass"
      alt="Wikisource logo"
      src="@/assets/logo.svg"
      width="200"
    >
    <h1>{{ msg }}</h1>
    <div id="cards">
      <ChangeCard
        v-for="card in cards"
        :key="card.revid"
        :title="card.title"
        :user="card.user"
        :minor="card.minor"
        :bot="card.bot"
        :is-new="card.isNew"
        :article-link="card.articleLink"
        :event-type="card.eventType"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import wsEvent from '@/wsEvent';
import wsSounds from '@/wsSounds';
import ChangeCard from '@/components/ChangeCard';

const baseUrl = process.env.BASE_URL;

wsSounds.init( baseUrl ).then( () => {
	wsEvent.init();

	wsEvent.addEventHandler( wsSounds.soundEvent );
} );

export default {
	name: 'WsSong',
	components: {
		ChangeCard
	},
	props: {
		msg: {
			type: String,
			default: 'Songbird'
		}
	},
	data() {
		return {
			logoClass: '',
			cards: []
		};
	},
	computed: {
		...mapState( {
			logEvents: state => state.settings.logEvents
		} )
	},
	watch: {
		'$store.state.settings.showWd': function () {
			wsEvent.setShowWikidata( this.$store.state.settings.showWd );
		}
	},
	mounted() {

		const logo = this.$refs.logo;

		const vm = this;

		/**
		 * Handle an incoming event
		 *
		 * @param  {Object} event  [description]
		 * @param  {Object} params [description]
		 */
		function handleEvent( event, params ) {

			if ( vm.logEvents ) {
				console.log( event, params.data );
			}

			// if ( event === 'new_text')
			vm.logoClass = 'spinning';

			if ( event === 'proofread' ) {
				// const number = params.data.title.match(/\/([0-9]+)$/)

				// if ( number ) {
				//   let utterance = new SpeechSynthesisUtterance('proof red: ' + number[1]);
				//   utterance.volume = 0.5;
				//   window.speechSynthesis.speak(utterance);
				// }
			}

			let et;

			if ( [ 'ws_main_new' ].indexOf( event ) !== -1 ) {
				et = 'new';
			}

			const d = params.data;

			if ( d.type === 'edit' ) {
				vm.cards.push( {
					revid: params.data.revision.new,
					title: params.data.title,
					user: params.data.user,
					bot: params.data.bot,
					isNew: params.data.revision.old === 0,
					minor: params.data.minor,
					articleLink: 'https://' + params.data.server_name + '/wiki/' + params.data.title,
					eventType: et
				} );
			}

			while ( vm.cards.length > 5 ) {
				vm.cards.shift();
			}

			vm.$store.commit( 'stats/addEvent', params );
		}

		logo.addEventListener( 'animationend', function () {
			vm.logoClass = '';
		} );

		wsEvent.addEventHandler( handleEvent );
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
	font-family: 'Linux Libertine','Georgia','Times',serif;;
}

@keyframes rotate {
	from {
			transform: rotate(0deg);
	}
	to {
			transform: rotate(360deg);
	}
}

.spinning {
		animation-name: rotate;
		animation-timing-function: ease;
		animation-duration: 1s;
}

#cards {
	margin-top: 50px;
}
</style>
