<template>
	<div id="app">
		<WsSong msg="Experience the song of the Source"/>
		<wvui-button
			@click="onSettingsClick"
			id="btn-settings"
			action="default"
			accesskey='p'
			title="Open the settings panel [Alt+Shift+P]"
			type="normal">
			<wvui-icon
				icon="M11.5 0l.42 2.75a7.67 7.67 0 0 1 1.87.77L16 1.87 18.16 4 16.49 6.23a7.67 7.67 0 0 1 .76 1.85L20 8.5v3l-2.75.42a7.67 7.67 0 0 1-.77 1.87L18.13 16 16 18.16l-2.24-1.67a7.67 7.67 0 0 1-1.85.76L11.5 20h-3l-.42-2.75a7.45 7.45 0 0 1-1.86-.77L4 18.13 1.87 16l1.65-2.23a7 7 0 0 1-.77-1.85L0 11.5v-3l2.75-.42a7.45 7.45 0 0 1 .77-1.86L1.87 4 4 1.87 6.23 3.52a7.17 7.17 0 0 1 1.85-.77L8.5 0ZM10 6.5A3.5 3.5 0 1 0 13.5 10 3.5 3.5 0 0 0 10 6.5Z"
				class="ext-globalwatchlist-button-icon"
			/>
		Settings</wvui-button>
		<SettingsPanel
			v-if="showSettings"
		/>
		<StatsPanel/>
	</div>
</template>

<script>
import wvui from "@wikimedia/wvui";
import "@wikimedia/wvui/dist/wvui.css";

import WsSong from './components/WsSong.vue'
import SettingsPanel from './components/SettingsPanel.vue'
import StatsPanel from './components/StatsPanel.vue'

export default {
	name: 'App',
	components: {
		WsSong,
		SettingsPanel,
		StatsPanel,
		WvuiButton: wvui.WvuiButton,
		WvuiIcon: wvui.WvuiIcon,
		WvuiCheckbox: wvui.WvuiCheckbox
	},
	data () {
		return {
			showSettings: false
		};
	},
	methods: {
		onSettingsClick () {
			this.showSettings = !this.showSettings;
		}
	}
}
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}

#btn-settings {
	position: fixed;
	bottom: 10px;
	left: 10px;
}
</style>
